<section class="thank-you-page-wrap">
    <div class="content h-100 text-center mx-auto d-flex align-items-center justify-content-center">
        <main>
            <h1>Awesome!</h1>
            <h1 class="mb-10">Learn How To Build An <span class="text-yellow">“Automated-Store"</span> & Drives
                Your Way To "Multi-Billion-Dollar" Online</h1>
            <iframe src="https://www.youtube.com/embed/9qOLO4bO0tA" width="100%" height="315" frameborder="0"
                allowfullscreen></iframe>
            <p>Click The Link Below For Proof This Strategy Works</p>
            <a class="btn btn-yellow text-black btn-xl font-weight-bold btn-block"
                href="https://warriorplus.com/o2/a/jfh1v/0" target="_blank">Get This PROVEN
                Software</a>
        </main>
    </div>
</section>