<section class="landing-page-wrap">
    <main class="d-flex align-items-center justify-content-center">
        <div class="form text-center">
            <h1>Best Training Strategy To House Train Your Dog <br/>
                Develops Your Dog's <span class="text-yellow">“Hidden Intelligence"</span><br />
                <span>To Eliminate Bad Behavior And<br /> Create The Pet Of Your Dreams</span>
            </h1>
            <p>Brain Training For Dogs Online Course</p>
            <form [formGroup]="newsletterForm" (submit)="submit()" class="newsletter-form my-50">
                <input type="text" class="form-control mb-20" placeholder="Enter Your Best E-Mail Address Here..."
                    formControlName="email" type="email">
                <mat-error class="d-block text-white my-20 h4"
                    *ngIf="submitted && newsletterForm.controls['email'].errors?.required">This
                    email address is mandatory</mat-error>
                <mat-error class="d-block text-white my-20 h4"
                    *ngIf="submitted && newsletterForm.controls['email'].errors?.email">
                    This
                    email address is invalid.</mat-error>
                <button class="btn btn-yellow text-black btn-xl font-weight-bold btn-block mt-10" type="submit">Get Brain Training For
                    Dogs</button>
            </form>
        </div>
    </main>
</section>