<header>
    <div class="container">
        <div class="row thank-you-header my-20">
            <div class="col-md-12 text-center">
                <h3>THANK YOU FOR SUBSCRIBING!</h3>
                <h3>PLEASE CHECK YOUR EMAIL INBOX. YOU WILL RECEIVE AN IMPORTANT EMAIL FROM contact@doggesik.com WITH A
                    LINK TO YOUR FREE EBOOK.</h3>
                <h3>TAKE A MOMENT FIRST TO CHECK OUT THIS OFFER</h3>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 font-weight-bold text-center">
                <h2>Simple Dog Training strategy that…</h2>
                <h2>Develops Your Dog's "Hidden Intelligence" to Eliminate Bad<br /> Behavior and Have a Really
                    Well-Behaved Dog
                </h2>
                <h2 class="text-danger">Brain Training for Dogs <br />PLUS Exclusive Bonuses</h2>
                <img src="assets/img/brain-training-for-dogs-natural-intelligence.png" alt="dog game ebook" />
                <a href="http://1.gesyk1_brainydogs.pay.clickbank.net/?cbskin=19833" class="btn-instant-access"
                    target="_blank">GET THE
                    OFFER</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Searching for brain training for dogs system? Once you learn these simple techniques for unlocking
                    your dog's natural intelligence you will be amazed at how quickly problem behaviors disappear and
                    your dog starts to obey you!</p>
                <h1 class="text-center my-20 font-weight-bold">About Author</h1>
                <img class="d-block mx-auto" src="assets/img/landing-page/author-ebook.jpg" alt="about author" />
                <p class="mt-30">Adrienne Farricelli is a professional dog trainer, the woman behind the Brain Training
                    for Dogs, the
                    online dog training course. She’s a CPDT-KA certified trainer in the USA ( CPDT-KA is short for
                    Certified Professional Dog Trainer – Knowledge Assessed). This certification is important for you
                    and your dog.</p>
                <p>In 2010, the Italian Association for Dog Trainers and Canine Consultants awarded Adrienne her first
                    certification after she had spent more than 200 hours as an apprentice for a master dog trainer.
                    Soon after, she obtained the CPDT-KA certification as a US dog trainer.</p>
                <p>Today, dog owners all over the world turn to Adrienne for dog training advice and dog behavior
                    guidance. Her CCPDT certification requires constant learning. That’s why she’s always updating her
                    knowledge of dog training and behavior modification. She has, for example, studied canine
                    theriogenology at the University of Minnesota, plus dog emotion and cognition at Duke University.
                </p>
                <p>Back in 2015, she signed up for an advanced science program, in which she’s now working towards a
                    diploma in canine behavior science. She has also completed courses on Canine Hospice and End-of-Life
                    Care for Dogs.</p>
                <p>Adrienne Farricelli is a force-free dog trainer. Her scientifically based training philosophy is
                    based on positive reinforcement of good behavior instead of punishment for bad behavior. Adrienne is
                    also an enthusiastic writer. She has written a vast number of articles about dog training in several
                    online publications, like Daily Puppy, Paw Nation, and eHow. She runs a dog behavior blog over at
                    HubPages. And she has been quoted by major news outlets like the Independent.</p>
                <p>More recently, her work has been featured in USA Today and Every Dog magazine.</p>
                <p>Adrienne began her career with animals working at a veterinary hospital and is certified in pet first
                    aid. It’s clear that working with and bettering the lives of animals is a passion.</p>
                <p>In Adrienne’s words…</p>
                <p>“I’m going to reveal how you can QUICKLY eliminate any behavioral problem… no matter how badly you
                    think it’s ingrained… no matter what kind of dog you have.“</p>
                <h3 class="font-weight-bold">What Makes Brain Training for Dogs So Powerful?</h3>
                <ul class="mt-20">
                    <li>Because it covers every conceivable problem: potty training puppy, dealing with aggression,
                        stop dog from jumping, digging, whining, stop puppy chewing, stop dog barking, impulse control,
                        hyperactivity, ignoring your commands;</li>
                    <li>Because you get force-free, easy to understand directions, troubleshooting guides,
                        step-by-step guides, and pictures and video demonstrations you can use with any dog to quickly
                        unlock his natural intelligence and eliminate bad behaviors.</li>
                    <li>Because the founder Adrienne Farricelli is here to personally provide support to you through
                        her easy-to-use support system. These dog training courses will guide you to success.</li>
                    <li>Because you get a huge archive covering almost every dog behavior problem you could think of.
                    </li>
                    <li>Because you get access to a private forum where you can discuss dog behavior, dog training, and
                        everything “dog” with other like-minded owners.</li>
                    <li>Because you get a simple-to-follow process. Ask any successful dog trainer and they will tell
                        you that simplicity is the key to training a well-behaved dog.</li>
                    <li>Because all the clients of the Adrienne Farricelli have used her dog training formula, so you
                        know it works. Using the exact same training formula she is about to share with you, she has
                        successfully trained countless dogs for her real-world clients.</li>
                    <li>Because Adrienne Farricelli has got an outstanding track record helping her clients create
                        dramatic changes in their pet’s behaviors.</li>
                    <li>Here’s a small sample: “WOW! Wish we had had this info 3 years ago! In just the last few hours
                        our sibling boys have lowered the intensity and length of barking episodes by at least 50%!!! I
                        can’t wait to see the results a month from now!!”</li>
                    <li>Because all the insider secrets shared with you have been battle-tested to work in the real
                        world of dog training. None of this stuff is fluff theory.</li>
                    <li>Because you get to the real individual root cause behind each problem you are dealing with,
                        like chewing or barking or aggressive behavior to other dogs, and get a tailored solution for
                        each problem.</li>
                </ul>
                <p>Use the insider information you get in this course for the next 60 days, use this step-by-step
                    system, transform the intelligence and behavior of your dog.</p>
                <p>If for any reason you're not entirely satisfied with your purchase, we'll give you back your money.
                    Frankly, if you don't believe in every cell of your body that Brain Training for Dogs delivers on
                    everything that I say it will, I don't want to keep your money! I want to build a long term
                    relationship with you and your dog, and I can't do that with a weak foundation.
                </p>
                <p>Remember: The cutting edge techniques and methods inside Brain Training for Dogs are so simple and so
                    powerful, it can literally eradicate any problem behavior in your dog, regardless of your training
                    experience or what kind of problem your dog has. You cannot get this information online or offline
                    anywhere.</p>
                <p>Let's not forget: This is the same system which thousands of people have used to eradicate problem
                    behaviors in their dogs and skyrocket their intelligence.</p>
                <p>Simply click the 'Instant Access' button to start your new life with your dog today.</p>
                <a href="http://1.gesyk1_brainydogs.pay.clickbank.net/?cbskin=19833" class="btn-instant-access"
                    target="_blank">GET THE
                    OFFER</a>
            </div>
        </div>
    </div>
</main>
<footer class="lp-footer bg-gray mt-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-white mb-0 py-10">© 2021 Doggesik. All right Reserved</p>
            </div>
        </div>
    </div>
</footer>