<header>
    <div class="container">
        <div class="row thank-you-header my-20">
            <div class="col-md-12 text-center">
                <h4 class="font-weight-bold">THANK YOU FOR SUBSCRIBING!</h4>
                <h4>PLEASE CHECK YOUR EMAIL INBOX. YOU WILL RECEIVE AN IMPORTANT EMAIL FROM contactgesiklo@gmail.com
                    WITH A
                    LINK TO YOUR FREE EBOOK.</h4>
                <h4>TAKE A MOMENT FIRST TO CHECK OUT THIS OFFER</h4>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 font-weight-bold text-center">
                <h4 class="font-weight-bold">GET YOUR ENZYMES TO THE OPTIMAL ZONE</h4>
                <h4>Crank Your Muscle Gains To New Heights By Transforming<br />
                    1 Gram Of Protein Into 3 Grams
                </h4>
                <h3 class="font-weight-bold text-danger">MassZymes</h3>
                <img src="assets/img/landing-page/bioptimizers/masszymes.jpg" class="img-fluid" alt="masszymes" />
                <a href="http://f2ea2ami07btbq94rj1nj8qvn5.hop.clickbank.net" class="btn-instant-access"
                    target="_blank">GET THE
                    OFFER</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center my-20 font-weight-bold">Why MassZymes is the best digestive enzyme supplement on
                    the planet:</h3>
                <ul class="mt-20">
                    <li>100% plant-based naturally-derived digestive enzyme blend</li>
                    <li>Contains highly concentration of enzymes that are active at a variety of acidity levels, which
                        ensures optimal digestion throughout the entire digestive tract</li>
                    <li>Highly concentrated with enzymes that digest proteins, starches, sugars, fibers, and fats</li>
                    <li>Take with meals to enhance digestion and nutrient absorption</li>
                    <li>Maximize digestion and nutrient absorption</li>
                    <li>Relieves indigestion, gas, bloating, and fatigue after meals</li>
                    <li>Produced in small batches with medical-grade ingredients</li>
                    <li>Contains both digestive and systemic protein-digesting enzymes</li>
                    <li>Take on empty stomach for systemic enzyme benefits</li>
                    <li>100% Satisfaction guarantee with respect to quality, purity, potency, and effectiveness</li>
                    <li>Improve exercise recovery and tissue remodeling, which is important for wound healing and skin
                        rejuvenation</li>
                    <li>Incomplete protein digestion can result in food fragments that can cause food allergies or
                        sensitivities. MassZymes is designed to maximize protein digestion and minimize inflammation
                        from food</li>
                </ul>

            </div>
        </div>
    </div>
</main>
<footer class="lp-footer bg-gray mt-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-white mb-0 py-10">© 2021 Gesiklo. All right Reserved</p>
            </div>
        </div>
    </div>
</footer>