<section class="download-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-50">Download Page</h1>
                <h3>On this page you will be able to access your free e-Book</h3>
                <p>The e-Book is published in Adobe’s PDF format. You can download a free copy of Acrobat Reader by
                    going to www.adobe.com</p>
                <p>DOWNLOADING THE FILE:</p>
                <p class="text-blue font-weight-bold">Click on the bellow button to download your e-Book</p>
                <h1>The Airplane Game</h1>
                <a href="assets/img/landing-page/The-Airplane-Game-by-Adrienne-Farricelli.pdf" class="h3 d-block">Click
                    here to download PDF</a>
                <img src="assets/img/landing-page/free-ebook.png" class="img-fluid ebook my-20" alt="free ebook" />
                <p>If you need any help you can contact
                    us <a href="https://www.doggesik.com/contact-us" target="_blank">HERE</a></p>
                <a href="https://www.doggesik.com" target="_blank">doggesik.com</a>
            </div>
        </div>
    </div>
</section>