<section class="download-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-20">
                <h2 class="mt-50 text-blue">Download Page</h2>
                <h3>On this page you will be able to access your free e-Book</h3>
                <p>The e-Book is published in Adobe’s PDF format. You can download a free copy of Acrobat Reader by
                    going to www.adobe.com</p>
                <p>DOWNLOADING THE FILE:</p>
                <h3 class="text-blue font-weight-bold">Click on the bellow button to download your e-Book</h3>
                <h2 class="text-blue">THE ENZYMATIC EDGE</h2>
                <p>How To Get More Protein From Your Shakes And Food</p>
                <a href="assets/pdf/The-Enzymatic-Edge.pdf" class="h3 d-block">Click
                    here to download PDF</a>
                <img src="assets/img/landing-page/bioptimizers/free-ebook-bioptimizers.png"
                    class="img-fluid ebook my-20" alt="free ebook" />
            </div>
        </div>
    </div>
</section>